* {
    font-size: 20px;
    font-family: "Merriweather", "Georgia", serif;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.borda {
    border-top: 5px double black;
}

.negrito{
    font-weight: bold;
}

.quebra{
    margin-bottom: 10px;
}

.link{
    text-decoration: none;
    color: black;
    font-size: 16px;
    background-color: transparent;
    padding: 3px; 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s; 
}

.link:hover{
    background-color: black;
    color: #ffff;
    opacity: 0.8;
}

body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

body, .secao, ul, li, p, span {
    font-size: 18px;
    line-height: 1.5;
}

aside {
    padding: 38px;
    background-color: rgb(176, 213, 252);
    display: flex;
    justify-content: center;
    width: 150%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

nav{
    background-color: rgb(176, 213, 252);
    display: flex;
    list-style: none;
    justify-content: center;
    margin-bottom: 12px;
    padding: 20px 20px;
    gap: 10px;
    border-radius: 12px;
    margin: 12px 0 12px 0;
}

main nav ul li .link{
    color: #ffff;
}

main {
    margin: 0 100px 0 100px;
}

.secao {
    border: 1px solid black;
    border-radius: 12px;
    padding: 15px 30px;
    margin-bottom: 10px;
    background-color: black;
    color: #ffff;
    opacity: 0.8;
}

.titulo-bloco {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    text-align: center;
    border-bottom: 4px double #ffff;
}

.titulo-span{
    font-size: 26px;
    font-weight: bold;
}

.subtitulo-span {
    margin-right: 10px; 
    font-size: 22px;
    font-weight: bold; 
}

.titulo-bloco .seta {
    font-size: 18px;
    transition: transform 0.3s;
}

.conteudo-bloco {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out; 
    text-align: justify;
}

.conteudo-bloco.show {
    max-height: 1000px; 
    overflow: auto; 
}

.seta.ativa {
    transform: rotate(180deg); 
}

@media (max-width: 1024px) {
    aside, main {
        width: 100%;
        margin: 0;
    }

    body {
        flex-direction: column;
    }

    aside {
        padding: 20px;
    }

    main {
        padding: 0 20px;
    }

    nav {
        list-style: circle;
    }
}

@media (max-width: 768px) {
    .titulo-span {
        font-size: 22px;
    }

    .titulo-bloco .seta {
        font-size: 16px;
    }

    .secao {
        padding: 10px 20px;
    }

    nav {
        flex-direction: column;
        gap: 5px;
        list-style: circle;
    }
}

@media (max-width: 480px) {
    * {
        overflow-y: auto;
        overflow-x: none;
    }

    *::-webkit-scrollbar{
        display: none;
    }

    .titulo-span {
        font-size: 18px;
    }

    .link {
        font-size: 14px;
    }

    body{
        overflow: hidden;
    }

    nav {
        padding: 10px;
        list-style: circle;
    }
}

@media (min-width: 1025px) {
    body {
        flex-direction: row; 
    }

    aside {
        padding: 40px;
        width: 30%;
        padding-bottom: calc(100vh - 700px);
        box-sizing: border-box;
    }

    main {
        width: 60%;
        padding: 20px;
    }

    .secao {
        padding: 20px 40px;
    }

    nav {
        gap: 20px;
        list-style: circle;
    }

    .titulo-span {
        font-size: 28px;
    }
}
